{% extends 'base/layout.html' %}
{% block title %}Game Page{% endblock title %}
{% block head %}<script src="{{ url_for('static', filename='scripts/accountHeader.js') }}"></script>{% endblock head %}
{% block content %}<section>
  <div class="articles">
    <article>
      <a class="buttonLink" href="/games/dota">Dota 2</a>
      <a class="buttonLink" href="#">CS:GO</a>
      <a class="buttonLink" href="#">Ibb&Obb</a>
      <a class="buttonLink" href="#">Total War: Warhammer II</a>
    </article>
  </div>
</section>
{% endblock content %}