{% extends 'base/layout.html' %}
{% block title %}Game Page{% endblock title %}
{% block head %}<script src="{{ url_for('static', filename='scripts/accountHeader.js') }}"></script>{% endblock head %}
{% block header %}  <span id="accountName" style="visibility: hidden;">{{ session["account_name"] }}</span>{% endblock header %}
{% block content %}<section>
  <div class="articles">
    <article>
      <a class="buttonLink" href="./games/dota">Dota</a>
      <a class="buttonLink" href="#">CS:GO</a>
      <a class="buttonLink" href="#">Ibb&Obb</a>
    </article>
  </div>
</section>
{% endblock content %}