{% extends 'base/layout.html' %}
{% block title %}Syntax Page{% endblock title %}
{% block head %}<script src="{{ url_for('static', filename='scripts/accountHeader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/syntaxApp.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>{% endblock head %}
{% block content %}<section>
  <div class="articles" id="syntaxArticles">
    <article id="syntaxArticle">
      <h2>Plan your own syntax-highlighting!</h2>
      <div class="appBox" id="syntaxAppFrame">
        <div class="sampleCodeInput">
          <div class="sampleCodeText">
            <textarea class="syntaxTextArea" id="inputLineNum" placeholder="123456789" readonly></textarea>
            <textarea name="code" form="sampleCodeForm" class="syntaxTextArea" id="codeInput"></textarea>
          </div>
          <form action="./syntax" method="POST" id=sampleCodeForm>
            <input type="submit" class="submtButton syntaxAppBtn">
          </form>
        </div>
        <div class="syntaxTextArea" id="code">
          <div style="font-size:14px; margin:0px;">{{ code }}</div>
        </div>
        <div class="colorpicker">
            <canvas id="picker" var="5" width="200" height="200"></canvas>

            <div class="controls">
                <div><label>R</label> <input type="text" id="rVal" /></div>
                <div><label>G</label> <input type="text" id="gVal" /></div>
                <div><label>B</label> <input type="text" id="bVal" /></div>
                <div><label>RGB</label> <input type="text" id="rgbVal" /></div>
                <div><label>HEX</label> <input type="text" id="hexVal" /></div>
                <div class="preview"></div>
            </div>
            <div class="controls">
              <button type="button">Save Color</button>
            </div>
        </div>
      </div>
    </article>
  </div>
</section>
{% endblock content %}