{% extends 'layout.html' %}
{% block title %}Account Page{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<nav>
  <div class="internalLinks">
    <a class="buttonLink" href="#">Link 3 goes to #</a>
    <a class="buttonLink" href="#">Link 4 goes to #</a>
    <a class="buttonLink" href="#">Link 5 goes to #</a>
  </div>
  <div class="accountLinks">
    <a id="accSettingsLink" class="buttonLink" href="./account/settings">Settings</a>
    <a id="logoutLink" class="buttonLink" href="#">LOGOUT</a>
  </div>
</nav>
<section>
  <article>
    <h2>Pattern Matching</h2>
    <p>Pattern Matching is process of matching specific type of expressions. It is nothing but a technique to
      simplify
      your code. This technique can be implemented into any type of Type class. If-Else can be used as an
      alternate
      option of pattern matching.</p>
    <p>Pattern Matching can be considered as a variant of dynamic polymorphism where at runtime, different methods
      can
      be executed depending on their argument list.</p>
    <p>Take a look at the following code block. Here we have used the technique of Pattern Matching to calculate the
      factorial of a number.</p>
  </article>
</section>
{% endblock content %}
