{% extends 'layout.html' %}
{% block head %}
    <script src="{{ url_for('static', filename='scripts/accountHeader.js') }}"></script>
{% endblock head %}
{% block title %}{{ session["account_name"] }}'s Page{% endblock title %}
{% block header %}
      <span id="accountName" style="visibility: hidden;">{{ session["account_name"] }}</span>{% endblock header %}
{% block content %}
<nav>
  <div class="internalLinks">
    <a class="buttonLink" href="./languages">Languages</a>
    <a class="buttonLink" href="./playground">Playground</a>
  </div>
  <div class="accountLinks">
    <a id="accSettingsLink" class="buttonLink" href="./account/settings">Settings</a>
    <a id="logoutLink" class="buttonLink" href="./logout">LOGOUT</a>
  </div>
</nav>
<section>
  <article>
    <h2>Welcome to your account page, {{ session["account_name"] }}!</h2>
  </article>
</section>
{% endblock content %}