<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='layoutStyle.css') }}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <header>
      <h1>Welcome to my site!</h1>
      {% block header %}{% endblock header %}
    </header>
    {% block content %}{% endblock content %}
    <footer>
      {% block footer %}
      <p>&copy; Copyright 2019 by <a href="http://domain.invalid/">Niklas Seppälä</a></p>
      {% endblock footer %}
    </footer>
  </body>

</html>
