{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock head %}
{% block title %}Login Page{% endblock title %}
{% block content %}
<nav>
  <div class="internalLinks">
    <a id="loginBackLink" class="buttonLink" href="./">Back</a>
  </div>
</nav>
<section class="loginSection">
  <article class="loginArticle">
    <div class="formBox" id="loginFormBox">
      <form action="./" method="POST" id=loginForm>
        <div class="formHeader">
          <h1>Login</h1>
        </div>
        <div class="controlGrp">
          <input type="text" class="login-field" value="" placeholder="username" name="username">
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="controlGrp">
          <input type="password" class="login-field" value="" placeholder="password" name="password">
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <input type="submit" value="Log in" class="submtButton">
      </form>
    </div>
  </article>
</section>
{% endblock content %}
