{% extends 'layout.html' %}
{% block title %}Login Page{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<nav>
  <div class="navlinks">
    <a class="navLink" href="#">Link 1</a>
    <a class="navLink" href="#">Link 2</a>
    <a class="navLink" href="#">Link 3</a>
    <a class="navLink" href="#">Link 4</a>
    <a class="navLink" href="#">Link 5</a>
  </div>
</nav>
<section>
  <article>
    <div style="background-color:rgb(35, 92, 35); height: 300px; width :500px;">
      <h2>LOG IN</h2>
      <p>Login here</p>
    </div>
</section>
{% endblock content %}
