{% extends 'layout.html' %}
{% block title %}Playground Page{% endblock title %}
{% block head %}<script src="{{ url_for('static', filename='scripts/accountHeader.js') }}"></script>{% endblock head %}
{% block header %}  <span id="accountName" style="visibility: hidden;">{{ session["account_name"] }}</span>{% endblock header %}
{% block nav %}<nav>
  <div class="navLinks">
    <div class="internalLinks">
        <a class="buttonLink" href="./languages">Languages</a>
        <a class="buttonLink" href="./playground">Playground</a>
        <a class="buttonLink" href="./code">Code</a>
        <a class="buttonLink" href="./editor">Editor</a>
        <a class="buttonLink" href="./games">Games</a>
        <a class="buttonLink" href="./media">Media</a>
        <a class="buttonLink" href="./">Back</a>
      </div>
      <div class="navSeparator"></div> <!--Separator Div-->
      <div class="accountLinks">
        <a id="loginLink" class="buttonLink" href="./login">Log In</a>
        <a id="logoutLink" class="buttonLink" href="./logout">Log Out</a>
      </div>
    </div>
  </nav>{% endblock nav %}
{% block content %}<section>
  <div class="articles">
    <article>
      <h2>PLAYGROUND PAGE</h2>
    </article>
  </div>
</section>
{% endblock content %}
