/*****************************************************************/
/** This stylesheet defines styles links that look like buttons **/
/*****************************************************************/

a.buttonLink:link, a.buttonLink:visited {
    background-image: linear-gradient(to top left, #1b1b1b, #474747);
    color: inherit;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: .05em;
    padding: 1em;
    height: 1em;
    width: 9em;
}

a.buttonLink:hover, a.buttonLink:active {
    background-image: linear-gradient(to top left, #1b1b1b, #555555);
}

#loginLink, #logoutLink {
    width: 6em;
} 

#footerLink {
    height: 0.5em;
    width: 7em;
    margin-left: 0.5em;
}

div.imgLink {
    background-image: linear-gradient(to top left, #1b1b1b, #474747);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;
    height: 100px;
}

div.imgLink:hover {
    background-image: linear-gradient(to top left, #1b1b1b, #555555);
    padding-right: 1em;
}
