/*****************************************************************/
/** This stylesheet defines styles links that look like buttons **/
/*****************************************************************/

a.buttonLink:link, a.buttonLink:visited {
    background-image: linear-gradient(to top left, #1b1b1b, #474747);

    color: #d8d8d8;
    font-size: 18px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 7em;
}

a.buttonLink:hover, a.buttonLink:active {
    background-image: linear-gradient(to top left, #1b1b1b, #555555);
}

#loginLink, #logoutLink {
    width: 50%;
} 

#footerLink {
    width: 8em;
    margin-left: 0.5em;
    height: 90%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.imgLink {
    background-image: linear-gradient(to top left, #1b1b1b, #474747);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;
    height: 111px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

div.imgLink:hover {
    background-image: linear-gradient(to top left, #1b1b1b, #555555);
    padding-right: 1em;
}
