/*****************************************************************/
/**** This stylesheet defines styles for overall page-layout. ****/
/*****************************************************************/

body {
    background-image: linear-gradient(to bottom right, #2b2b2b, black);

    font-family: Arial, Helvetica, sans-serif;
    color: #e4e4e4;

    margin: 0px;
}

nav, section, article, header, aside, footer {
    border: none;
}

header {
    background-image: linear-gradient(to bottom right, #2b2b2b, black);

    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 30px;

    font-size: 28px;

    height: 8em;
}


nav {
    background-color: #302f2f;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 3.1em;
}

div.accountLinks {
    display: flex;
}

div.internalLinks {
    display: flex;
    margin-left: auto;
}

section {
    background-image: linear-gradient(to bottom right, #3d3d3d,  #000);
    display: flex;
    margin-left: 5em;
    margin-right: 5em;
}

article {
    background-color: #414141;

    height: 1600px;
    width: 80%;

    padding: 8em;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

aside {
    background-color: #494949;

    display: flex;
    flex-direction: column;
    justify-content: right;
    
    width: 20%;
    height: 100%;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

footer {
    background-color: #1f1e1e;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff2c;

    height: 2.8em;
}