/*****************************************************************/
/**** This stylesheet defines styles for overall page-layout. ****/
/*****************************************************************/

body {
    background-color: #414141;

    font-family: monospace;
    color: #e4e4e4;
    margin: 0px;
}

nav, section, article, header, aside, footer {
    border: none;
}

header {
    background-image: linear-gradient(to bottom right, #2b2b2b, black);

    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 2.5%;

    font-size: 22px;

    height: 8em;
}


nav {
    background-color: #302f2f;
    
    display: flex;
    justify-content: center;

    height: 3.9em;
}

div.navLinks {
    width: 96%;
    display: flex;
}

div.accountLinks {
    display: flex;
    width: 20%;
}

div.internalLinks {
    display: flex;
    justify-content: space-between;

    width: 45%;
}

section {
    width: 96%;
    display: flex;
    flex-direction: row;
}

div.content{
    display: flex;
    justify-content: center;
}

div.articles {
    background-color: #414141;
    width: 80%;
}

article {
    width: 80%;
    margin-left: 2em;
    margin-top: 2em;
}

h2 {font-size: 30px;}
p {font-size: 20px;}

aside {
    background-color: #414141;

    display: flex;
    flex-direction: column;
    justify-content: right;
    
    width: 20%;

    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

footer {
    background-image: linear-gradient(to bottom right, #2b2b2b, black);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff2c;

    height: 2.8em;
}