/*****************************************************************/
/****   This stylesheet defines styles for syntax highlight   ****/
/*****************************************************************/

.syntaxTextArea {
    resize: none;
    font-family: monospace;
    font-size: 14px;
    color: #d3d3d3;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #313131;

    border-color: #424242;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    margin: 0px;
}


.syntaxTextArea:focus {
    box-shadow: none;
    border-color: #424242;
    outline: 0px;
}

#code {
    height: 15.1em;
    width: 30em;
}

#codeInput {
    height: 15em;
    width: 30em;
}

#inputLineNum {
    width: 1em;
}

div.appBox {
    background-color: #252525;
    padding: 1.5em;
    margin: 1em 1em 1em 0px;

    border-radius: 4px;
    margin-bottom: 2em;

    display: flex;
    flex-direction: row;
}

div.sampleCodeText {
    display: flex;
    flex-direction: row;
}

div.code {
    margin-left: 2em;
}

input.syntaxAppBtn {
    width: 6em;
    margin: 5px 5px 5px 0px;

    border-radius: 4px;
}