/*****************************************************************/
/****   This stylesheet defines styles for syntax highlight   ****/
/*****************************************************************/

.syntaxTextArea {
    resize: none;
    font-family: monospace;
    font-size: 14px;
    color: #d3d3d3;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #313131;

    border-color: #424242;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    margin: 0px;
}


.syntaxTextArea:focus {
    box-shadow: none;
    border-color: #424242;
    outline: 0px;
}

#code {
    height: 15.1em;
    width: 30em;
}

#codeInput {
    height: 15em;
    width: 30em;
}

#inputLineNum {
    width: 1em;
}

div.appBox {
    background-color: #252525;
    padding: 1.5em;
    margin: 1em 1em 1em 0px;

    border-radius: 4px;
    margin-bottom: 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.sampleCodeText {
    display: flex;
    flex-direction: row;
}

div.code {
    margin-left: 2em;
}

input.syntaxAppBtn {
    width: 6em;
    margin: 5px 5px 5px 0px;

    border-radius: 4px;
}



/* colorpicker styles */
.colorpicker {
    background-color: inherit;
    border-radius: 5px 5px 5px 5px;
    color: inherit;
    font-size: 12px;
    width: 460px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#picker {
    margin: 20px;
}
.controls {
    margin: 10px;
}
.controls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.controls label {
    float: left;
    font-size: 14px;
    margin:5px;
}
.controls > div input {
    background-color: #1d1d1d;
    border: 1px solid #252525;
    color: inherit;
    font-size: 14px;
    height: 2em;
    text-align: center;
    width: 80px;
    margin-left: auto;
}
.preview {
    border-radius: 4px;
    background-color: inherit;
    border: 1px solid #252525;
    height: 2em;
    width: 116px;
}

#syntaxArticles {
    width: 80%;
}
#syntaxArticle {
    width: 100%;
}