/*****************************************************************/
/****   This stylesheet defines styles for syntax highlight   ****/
/*****************************************************************/

div.appBox {
    background-color: #252525;
    padding: 1.5em;
    margin: 1em 1em 1em 0px;

    border-radius: 4px;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SAMPLE CODE AREA*/
.code-box {
    display: flex;
    flex-direction: row;
}
.syntaxTextArea {
    resize: none;
    font-family: monospace;
    font-size: 14px;
    color: #d3d3d3;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #313131;

    border-color: #424242;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    margin: 0px;
}
div.sampleCodeText {
    display: flex;
    flex-direction: row;
}
.syntaxTextArea:focus {
    box-shadow: none;
    border-color: #424242;
    outline: 0px;
}
#inputLineNum {
    width: 1em;
    height: 15em;
}
div.code {
    margin-left: 2em;
}
#code {
    height: 15.1em;
    width: 30em;
}
#codeInput {
    height: 15em;
    width: 30em;
}
input.syntaxAppBtn {
    border-radius: 3px;
    height: 32px;
    padding: 5px;
    margin: 5px 5px 5px 0px;
}








/* COLORPICKER AREA */
.colorpicker {
    background-color: inherit;
    border-radius: 5px 5px 5px 5px;
    color: inherit;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
#picker {
    margin: 12px;
}

.color-results {
    display: flex;
    flex-direction: row;
}
.color-values > div, .saved-colors > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.color-values label, .color-results label{
    float: left;
    font-size: 14px;
    height: 20px;
    margin:5px;
}

label.color-value {
    background-color: #1d1d1d;
}

.color-values > div input {
    background-color: #1d1d1d;
    border: 1px solid #252525;
    color: inherit;
    font-size: 14px;
    height: 20px;
    text-align: center;
    width: 80px;
    margin-left: auto;
}
.color-values {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-result {
    border-radius: 4px;
    background-color: inherit;
    border: 1px solid #252525;
    height: 20px;
    width: 30px;
}

#syntaxArticles {
    width: 100%;
}
#syntaxArticle {
    width: 100%;
}

.saved-colors {
    display: flex;
    flex-direction: column;
}

.saved-color > div {
    height: 20px;
    width: 30px;
    margin: 5px;
}


div.lower {
    display: flex;
    flex-direction: row;
}


.word-panel {
    display: flex;
    flex-direction: column;
}

.codeWord {
    display: flex;
    align-items: center;

    padding: 2px;
    margin-top: 5px;
}


.codeWord > button {
    width: 200px;
}

#json-text {
    width: 620px;
    height: 400px;
    color: #eaebb5;

    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1d1d1d; 
}

::-webkit-scrollbar-thumb {
    background: #646464; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #727272;
  }

.json-panel > div {
    margin-left: 70px;
    margin-top: 5px;
}

#languageInpt {
    background-color: #313131;
    border-color: #424242;
    color: #d3d3d3;
    border-style: solid;
    border-width: 1px;

    height: 1.3em;
    width: 200px;
    text-align: center;
    font-size: 20px;
}

